@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right top, #051937, #392f52, #008793, #178278, #6da43c);
}


.logo {
  font-family: 'Changa One', sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.motto {
  font-size: x-small;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

#footerParagraph {
  font-family: 'Popins', sans-serif;
}

